.button {
  background: none;
  border: 4px solid var(--fontColor);
  border-radius: 100px;
  color: var(--fontColor);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: var(--spacingM) var(--spacingL);
}
