.select {
  border: 0;
  background: transparent;
  appearance: none;
  color: var(--fontStrong);
  display: inline-block;
  font-size: var(--fontSize);
  font-family: inherit;
  font-weight: bold;
  outline: none;
  margin: 0 var(--spacingM);
  padding: 0;
}
