.meditation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timerMinutes,
.timerSeconds {
  display: inline-block;
  text-align: center;
  width: 60px;
}
.timerColon {
  text-align: center;
  transform: translateY(-4px);
  width: 10px;
}

.meditationAnimation {
  animation: meditation 2s ease-out alternate infinite;
  background: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30vw;
  max-height: 300px;
  max-width: 300px;
  outline: none;
  width: 30vw;
}

@keyframes meditation {
  from {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0.6;
    transform: scale(1.4);
  }
}
